@import "../../styles";

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 4rem 0;
  @media (max-width: $Mobile-BreakPoint) {
    height: fit-content;
  }
}

.layoutDark {
  background-color: $Very-Dark-Blue-BG;
}

.layoutLight {
  background-color: $White-BG;
}
