@import "./styles";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $Desktop-Width;
  height: 100%;
  @media (max-width: $Mobile-BreakPoint) {
    width: $Mobile-Width;
  }
}
